body{
    display: flex;
    height: 120vh;
    justify-content: center;
    align-items: flex-start;
    font-family: pacifico;
    background: linear-gradient(#e7cdc3,#b1a6f5);
    overflow:hidden;
}

section audio{
    display: none;
}

.bg-calc{
    background-color: #222;
    border-radius: 28px;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.5em;
    color: white;
}

.calc{
    display: grid;
    grid-template-rows: 20px repeat(7,70px);
    grid-template-columns: repeat(4,80px);
    justify-content: center;
    background: linear-gradient(to bottom right,#ff7f50,#6a5acd);
    border-radius: 15px 15px 25px 25px;
    padding: 5px;
    gap: 5px;
}

button,.screen{
    border-radius: 20px;
    background-color: #000025;
    opacity: 60%;
    color: rgba(255,255,266,1);
}

button{
    font-size: 1.7em;
    font-family: pacifico;
    z-index: 1000;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: 1/1/4/5;
    position: relative;
    padding: 5px;
    overflow: hidden;
    font-size: 3em;
}

.screen span{
    transition: 200ms;
}

span:nth-child(1){
    position: absolute;
    top: 10px;
    align-self: flex-start;
    font-size: 0.4em;
    opacity: 0.6;
    /* color: red; */
}

span:nth-child(3){
    font-size: 0.7em;
    opacity: 0.6;
    color: crimson;
}


.get-out{
    transform: translateY(-30px);
    opacity: 0;
}

.list{
    cursor: pointer;
}

.rotate-up{
    scale: 300%;
    margin-left: 8px;
    transform: rotate(-90deg);
}

.rotate-down{
    transform: rotate(90deg);
}

.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    height: 140px;
    width: 190px;
    overflow: scroll;
    color: rgba(255, 255, 255,1);
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
    border-radius: 0 10px 10px 0;
    height: 0;
}

.menu::-webkit-scrollbar-track{
    display: none;
}


.menu::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}

.menu-visible{
    display: block;
}

.menu li{
    width: 100%;
    border-bottom: 1px solid white;
    z-index: -2000;
}
.menu li:hover{
    background-color:black;
}